* {
    background-color: black;
    color: white;
}

header>figure>img {
    width: 40px;
    height: auto;
}


body {
    display: flex;
    /*flex-direction: row; */
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0;
}

/* Initial styling */
nav a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Hover effect */
nav a:hover {
    transform: scale(1.25); /* Grow by 25% on hover */
}

/* Change cursor on hover */
nav a:hover {
    cursor: pointer;
}

.scrolling-container {
    width: 100%;
    overflow: hidden;
    font-display:initial;
    /* border: 1px solid green; */
    z-index: -1;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    animation: scroll-left 20s linear infinite; /* Adjust duration as needed */
    transform: translateX(100%); /* Start from the far right */
}


@keyframes scroll-left {
    0% {
        transform: translateX(77%);
    }
    100% {
        transform: translateX(-75%);
    }
}


header {
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}

#intro {
    padding-top: 86px;
}


nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

header {
    border: solid 1px grey;
}
main {
    flex-grow: 1; /* Allow the main content to grow and fill the available space */
}

main>section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main>section>div>div {
    /* border: solid 1px white; */
    text-align: justify;
    /* width: auto; */
}

#first_title {
    font-size: 2em;
}

#title {
    font-size: 2em;
    margin-top: 90px;
}


#bitcoin {
    width: 50%;
    margin: auto;
    display: block;
}

#blockchain1, #blockchain2, #blockchain3,#blockchain4,#blockchain5{
    width: 50%;
    margin: auto;
    display: block;
}

.container h2 {
    display: block;
    margin-left: 20px;
    width: 45%;
    float: left;
}

.container>div>h2 {
    margin-left: 25px;
    margin-right: 25px;
}

.container img {
    display: block;
    margin: auto;
    border-radius: 30px;
    border: 1px white solid;
}

html {
    scroll-behavior: smooth;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    left: auto;
}

.dropdown-content {
    right: 0;
    left: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    left: auto;
}
footer {
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: [footer-start figure-start] 1fr [s1-start] 1fr [s2-start] 1fr [s3-start] 1fr [footer-end];
    background-color: black;
    color: white;
    margin-top: auto; /* Push the footer to the bottom of the page */
    padding: 20px; /* Add some padding to the footer */

}
footer>figure{
    grid-column: footer-start / s1-start;
    grid-row: auto;
    margin-left: 100px;
}

#s1{
    grid-column: s3-start / s4-start;
    grid-row: auto;
}

#s2{
    grid-column: s4-start / s5-start;
    grid-row: auto;
    margin-right: 80px;
}
